@import "tailwindcss";

:root{
    --bg:255 255 255;
    --text:0 0 0;
    --primary:59 130 246;
}

.dark{
    --bg:17 24 39;
    --text:229 231 235;
    --primary:147 197 253;
}

@theme{
    --color-bg:rgb(var(--bg));
    --color-text:rgb(var(--text));
    --color-primary:rgb(var(--primary));
}

@layer components {
  .btn {
    @apply cursor-pointer px-6 py-2.5 rounded-lg font-medium transition-colors;
  }

  .btnSecondary {
    @apply cursor-pointer px-4 py-2 rounded-lg font-medium transition-colors;
  }

  .btn-primary {
    @apply bg-black text-white hover:bg-gray-900;
  }
}